.Wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	
	.Tasks{
		display: flex;
		width: 90%;
		margin-top: 30px;
		flex-direction: row;
		min-height: 200px;
	}
}
.SnackbarMessage {
	display: flex;
	justify-content: space-between;
	
}
.Left{
	flex-basis: 30%;
	display: flex;
	align-items: center;
}
.Right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media(min-width: 700px){

}