.Wrap{
	display: flex;
	// border: 1px solid brown;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	
	.Tasks{
		display: flex;
		width: 90%;
		margin-top: 30px;
		flex-direction: row;
		min-height: 200px;
		// border: 1px solid blue;
	}
}

@media(min-width: 700px){

}